@font-face {
    font-family: '_Apparat';
    src: url('../fonts/apparat-regular.woff2') format('woff2'),
        url('../fonts/apparat-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '_AcidGrotesk';
    src: url('../fonts/acidgrotesk-book.woff2') format('woff2'),
        url('../fonts/acidgrotesk-book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
